<div class="counter">
    <div class="counter-buttons">
        <button (click)="addCounter()">Add Counter</button>
        <button (click)="resetCounters()">Reset</button>
    </div>
    <div class="counters">
        <div *ngFor="let counter of counters; let i = index" class="counter-item">
            <input type="text" [(ngModel)]="counter.value" [value]="counter.value">
            <button class="addButton" (click)="incrementCounter(i)">+</button>
            <button class="decButton" (click)="decrementCounter(i)">-</button>
            <button class="btnRemove" (click)="removeCounter(i)">Remove</button>
        </div>
    </div>
</div>